#body {
    background-size: 100%;
}

#main-container {
    position: fixed;
    left: 11%;
    top: 5%;
    height: 85%;
    width: 75%;
    background: rgb(29, 28, 28)
}

#title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 500px;
    height: 80px;
    color: white;
    font-size: 60px;
    font-family: 'Lora', serif;
    
}

#time {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    width: 420px;
    height: 40px;
}

#question {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    width: 420px;
    height: 40px;
}

#button-container {
    justify-content: center;
    display: flex;
    width: 420px;
    height: 300px;
}

#button-1 {
    width:200px;
    height:100px;
}

#button-2 {
    width:200px;
    height:100px;
}

#button-3 {
    width:200px;
    height:100px;
}

#button-4 {
    width:200px;
    height:100px;
}